<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bbaaf">  <td>23/03/09 12:57:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.HomePageTest@24aed80c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1595282218</td>   <td></td> </tr>
<tr bgcolor="8bbaaf">  <td>23/03/09 12:57:30</td>   <td>-3846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.CreatNewAccountPageTest@ba2f4ec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1595282218</td>   <td></td> </tr>
<tr bgcolor="deacb2">  <td>23/03/09 12:57:35</td>   <td>1446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.homePageTest()[pri:0, instance:tests.HomePageTest@24aed80c]">homePageTest</td> 
  <td>main@1595282218</td>   <td></td> </tr>
<tr bgcolor="deea7f">  <td>23/03/09 12:57:32</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatNewAccountPageTest.creatNewAccountPageTest(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:tests.CreatNewAccountPageTest@ba2f4ec]">creatNewAccountPageTest</td> 
  <td>main@1595282218</td>   <td></td> </tr>
</table>
